.App {
  text-align: center;
}

.BtnPrimary {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}
.BtnPrimary:hover {
  cursor: pointer;
  background-color: lightgreen;
}

.BtnPrimary.Red {
  background-color: red;
}
.BtnPrimary.Red:hover {
  background-color: salmon;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}